<footer class="container" style="margin-top: 0px;">
  <p class="text-center">Copyright ©2016 HITCON GIRLS
    <br>Design by <a href="mailto:freetsubasa@gmail.com" target=_new>papa</a> & <a href="mailto:0xddaa@gmail.com" target=_new>ddaa</a>
  </p>
</footer>
